*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.53);
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    flex: 0 0 60px;
    /* border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__burger {
    display: none;
}
.header__menu {
    content: '';
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0 0 0 0px;
    padding: 25px;
}
.header__link {
    color: #000000;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 1em;
}
.header__link:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}
@media (max-width:767px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #000000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0; 
    }
    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px; 
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%; 
        overflow: auto;
        background-color: #ffffff;
        padding: 70px 10px 20px 0px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        text-align: center;
    }
    .header__list li:hover{
        background-color: #fff;
    }
}

.content {
    margin-top: 80px;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width:767px) {
    .content{
        margin: 0px 0 0 0;
    }
}
.namebgimg-1{
    position: relative;
    margin-top: 50px;
}
.parallax{
    background-image: url("img/233140861_2058682734299955_7049272227537909129_n.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(120%) brightness(60%) saturate(125%);
    
}
.namebgimg-1 h1{
    color: #ffffffea;
}
.icon  {
    margin-left: 2em;
    display: inline-block;
    word-spacing: 1em;
}
.instagram{
    width: 70px;
    vertical-align: middle;
    margin-right: -0.3em;
}
.facebook{
    width: 25px;
    vertical-align: middle;
}
.tiktok{
    width: 42px;
    vertical-align: middle;
}
.name_icon{
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 2;
}
.sn{
    transition: 1s ease 0s;
}
.sn:hover{
    transform: scale(0.8);
    transition: 1s ease 0s;
}
.sx{
    transition: 1s ease 0s;
}
.sx:hover{
    transform: scale(0.9);
    transition: 1s ease 0s;
}
@media only screen and (max-width:767px) {
    .parallax {
        background-attachment: scroll;
    }
    .name_icon{
        font-size: 0.5em;
        top: 40%;
        left: 25%;
    }
    .instagram{
        width: 60px;
    }
    .facebook{
        width: 25px;
    }
    .tiktok{
        width: 40px;
    }
  }
.aboutme{
    margin-top: 4em;
}
.aboutme h1, p, li{
    text-align: center;
}
.aboutme p{
    margin-top: 1em;
    margin-bottom: 2em;
}
.info-aboutme{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.info-aboutme p{
    line-height: 1.8em;
    margin: 2em;
    text-align: left;
}

.img-2{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    float: left;
    margin: 0 3em 3em 3em;
}
@media (max-width:767px) {
    .img-2{
        margin: 0em 1em 1em 1em;
        width: 90%;
    }
    .info-aboutme p{  
    line-height: 1.5em;
}  
}
.strip {
    background-color: rgb(80, 80, 80);
    margin-top: 5em;
}
.strip__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.strip__list li{
    list-style-type: none;
    color: white;
    margin: 2em;
}
.strip__link{
    font-size: 1.1em;
    width: auto;
}
.strip__number{
    font-size: 2em;
}
@media (max-width:767px)  {
    .strip__list{
        flex-direction: column;
    }
}
.example {
    margin-top: 4em;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}
.example i{
    font-size: 1.2em;
    margin-top: 3em;
}
.example__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.example__link{
    list-style-type: none;
    
}
.example__link img{
    width: 290px;
    height: 350px;
    margin: 0.3em;
}
.reviews {
   margin-top: 4em;
}
.reviews__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.reviews__link {
    list-style-type: none;
    padding: 1em;
    margin: 1em;
    background-color: #93939331;
    border-radius: 5px;
}
.reviews__link img{
    border-radius: 50%;
    width: 100px;
}
.reviews__link div{
    float: left;
}
.reviews__link p{
    overflow:hidden;
    width: 340px;
    float: inline-start;
    text-align: left;
    padding-left: 1em;
    word-spacing: 1px;
}
@media (max-width:767px) {
    .reviews__list{
        flex-direction: column;
        
    }
}
.contact {
    margin-top: 4em;
    margin-bottom: 4em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.contact__info {
    margin-top: 2em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.map-img{ 
    width: 450px;
    height: 350px;
    border-radius: 10px;
    order: 1;
}
.maps{
    width: 45px;
    height: auto;
    vertical-align: middle;
    margin: 0.5em;
}
.phone{
    width: 45px;
    height: auto;
    vertical-align: middle;
    margin: 0.5em;
}
.e-mail{
    width: 45px;
    height: auto;
    vertical-align: middle;
    margin: 0.5em;
}
.contact__list {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    order: 2;
}
.contact__link{
    list-style-type: none;
    text-align: left;
    margin-left: 5em;
}
.contact__icon{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.instagram2{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.facebook2{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
.tiktok2{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
@media (max-width:767px){
    .contact{
        flex-direction: column;
    }
    .map-img{
        width: 300px;
        height: 250px;
        order: 1;
    }
    .contact__list{
        order: 2;
    }
    .contact__link{
        margin-left: 0;
    }
    .contact__info{
        margin-left: -1em;
    }
}
.footer {
    background-color: rgb(80, 80, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer:hover{
    background-color: #000000;
}
.footer p{
    color: white;
    vertical-align: middle;
    order: 3;
    font-size: 1em;
    margin-top: -1em;
    font-weight: bold;
}
.footer__button {
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    order: 1;
    padding: 5px;
    padding-right: 10px;
    margin-top: 2em;
    opacity: 0.9;
}
.footer__button__img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 0.1em;
}
.footer__logo {
    margin: 3em 0 3em 0;
    width: 150px;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}
.footer__icon{
    order: 2;
    margin-top: 2em;
}
.instagram3{
    width: 50px;
    vertical-align: middle;
}
.facebook3{
    margin-left: 0.5em;
    width: 18px;
    vertical-align: middle;
}
.tiktok3{
    margin-left: 0.7em;
    width: 30px;
    vertical-align: middle;
}
@media (max-width:767px){
    .footer p{
        margin-top: 1em;
    }
    .footer__logo {
        margin-top: 1em;
    }
}
